.navbar{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(0,149,221);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
  h1{
    display: flex;
    justify-content: flex-start;
    color: white;
    margin: 10px;
  }
  .search-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    .search-input{
      display: flex;
      justify-content: center;
      width: 500%;
      margin: 0px 20px 0px 0px;
      padding: 10px 10px 10px 10px;
      border-radius: 5px;
      border: none;
    }
    .search-button{
      width: 300px;
      border-radius: 5px;
      border: none;
      background-color: transparent;
      color: white;
      border: 1px solid white;
    }
    .search-button:hover{
      background-color: lightblue;
    }
  }
}
.header{
  width: 100%;
  height: 530px;
  margin-top: 50px;
  position: relative;
}
.goToMusic{
  position: absolute;
  top: 460px;
  left: 43%;
  right: 43%;
  .musicSection{
    background-color: rgb(0,149,221);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px 15px 0px 15px;
  }
  .musicSection:hover{
    background: lightblue;
  }
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
  padding-top: 65px;
  background-color: white;
  .track-box{
    text-align: center;
    width: 250px;
    height: 270px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 15px;
    box-shadow: none;
    transition: box-shadow .3s ease-in-out;
    img{
      height: 200px;
      width: 200px;
      display: inline-block;
      border-radius: 10px;
      border: 1px solid lightgray;
    }
    ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
      .trackTitle{
        display: inline-block;
        overflow: hidden;
        max-height: 30px;
        font-size: 13px;
      }
      .trackArtist{
        display: inline-block;
        overflow: hidden;
        max-height: 30px;
        font-size: 12px;
        opacity: .5;
      }
    }
  }
  .track-box:hover{
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s ease-in-out;
  }
}


.music-bar{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 1;
  .music-widget{
    width: 90%;
  }
}
